<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <img src="/assets/accolitelogo1.png" width="30" height="40" class="d-inline-block align-top" alt="">
	<div class="navbar-brand">  Accolite<b>Digital</b></div>

	
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
		
            <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Candidate List</a>
			
            <a routerLink="/add" routerLinkActive="active" class="nav-item nav-link">Add Candidate</a>
			
            <a routerLink="/trends" routerLinkActive="active" class="nav-item nav-link">Trends</a>
			
		</div>
		
		<div class="navbar-nav ml-auto">
			<button class="btn btn-danger me-md-2" (click) = signOut()>Logout</button>
            
		</div>
	</div>
</nav>
</body>    
<h1 class="text-center">MS AU Management Portal</h1>                       
